{
  "source": {
    "directories": [
      "src"
    ]
  },
  "timeout": 30,
  "logs": {
    "text": ".build/infection/infection-log.txt",
    "perMutator": ".build/infection/per-mutator.md"
  },
  "tmpDir": ".build/infection/temp/",
  "ignoreMsiWithNoMutations": true,
  "minCoveredMsi": 50,
  "minMsi": 10
}
